.App-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  width: 100%;
  height: 600px;
}

.container{
  background-color: burlywood;
  width: 500px;
  border-radius: 20px;
  padding: 50px;
}

.head{
  font-size: 15px;
  font-weight: 300;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

p{
  font-size: small;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card{
  width: 450px;
  height: 150px;
  background-color: darkkhaki;
}

.symbol{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  font-size: 40px;
  font-weight: 600;
  color: ;
}

#para{
  text-align: center;
}

.input{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

